#textform{
    position: absolute;
    z-index: 3;
    display: none;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: scroll;
}

html,body{
    //overflow: hidden;
}

#tmctxm{
    display:none;
    position:fixed;
    left:0px;
    top:0px;
    width:200px;
    height:100px;
    border:1px solid #000;
    background-color:#fff;
    z-index: 3;
}

#tmcanvas{
    margin: 0px;
}

#tmctxm li{
    cursor:pointer;
}

#pagetop{
    position: fixed;
    /*基準を画面の左上に*/
    top: 0;
    left: 0;
    /*余白が入らないように*/
    margin: 0;
    /*以下装飾*/
    width: 100%;
    padding: 0;
    z-index: 2;
    background-color: #fff;

}

#home{
    margin: 0;
    padding: 0;
    background-color: aqua;
}

#btn5{
    margin: 0;
    top: 0;
    left: 0;
    border: 1px solid;
    background-color: transparent;
}

#homemenu{
    display:none;
    position:fixed;
    left:0px;
    top:0px;
    margin: 0;
    border:1px solid #000;
    background-color:#fff;
    z-index: 4;
}

#editmenu{
    display:none;
    position:fixed;
    left:0px;
    top:0px;
    width:200px;
    height:100px;
    border:1px solid #000;
    background-color:#fff;
}

/*pm*/
.pmform{
    position: absolute;
    margin: 0;
    padding: 5px;   /*jsでpppに対応*/
    resize: none;
    z-index: 1;
}

#pm{
    position: absolute;
    margin: 0px;
    padding: 0px;
    overflow-x: scroll;
    overflow-y: scroll;
    z-index: 0;
    zoom: 1;
    transform-origin: top left;
    transform: scale(1);
    border:1px solid #000;
}

.txtf_c{
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 1;
}

#pmcvs{
    border: 0px solid;
    z-index: 2;
    /*background-color: ;*/
    position: absolute;
}

#pctxm{
    display:none;
    position:fixed;
    left:0px;
    top:0px;
    width:200px;
    height:100px;
    border:1px solid #000;
    background-color:#fff;
    z-index: 3;
}

#editmenu li{
    cursor:pointer;
    z-index: 2;
}

#pmtextbox{
    position: absolute;
    z-index: 2;
    display: none;
}

/*tm*/
#tm{
    position: absolute;
    margin: 0px;
    padding: 0px;
    overflow-x: scroll;
    overflow-y: hidden;
    border: 1px solid;
}

#scrollbar{
    position: absolute;
    margin:0px;
}
